@font-face {
    font-family: bonkle;
    src: url("Quilt.woff2");
}

body {
    width: 100%;
    margin: 8px;
}

main {
    font-family: bonkle, monospace;
    max-width: 500px;
    margin: auto;
}

header {
    max-width: 500px;
    margin: auto;
}
