@font-face {
    font-family: bonkle;
    src: url("Quilt.woff2");
}

@font-face {
    font-family: gerald;
    src: url("out.woff2");
}

body {
    width: 100%;
    margin: 0;
}

main {
    max-width: 500px;
    margin: auto;
}

.bonkle {
    font-family: bonkle, monospace;
}

.gerald {
    font-family: gerald, monospace;
}

header {
    max-width: 500px;
    margin: auto;
}
